.signup-button {
    width: 10%;
    height: 40px;
    justify-content: center;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    transition: .2s ease-in;
    cursor: pointer;
    right: 100 px;
  }